{% extends 'base-front.html.twig' %}


{% block body %}

<section class="cart-section spad">
    <div class="container">

            <div class="nk-store nk-store-cart">
                <div class="table-responsive">
            
                    <!-- START: Products in Cart -->
                    <table class="table nk-store-cart-products">
                        <tbody>
                        {% for p in dataCart %}
                        <tr>
            
                            <td class="nk-product-cart-title">
                                <h5 class="h6">Product:</h5>
                                <div class="nk-gap-1"></div>
                                
                      <img
                      src="{{ asset('uploads/' ~ p.product.image) }}"
                      alt=""
                      width="100"
                      height="100"
                    />
            
                                <h2 class="nk-post-title h4" style="color: #ffffff; font-weight: 900; text-decoration: none;">
                                    <a href="#" style="color: #ffffff; font-weight: 900; text-decoration: none;">{{ p.product.name }}</a>
                                </h2>
                            </td>
                            <td class="nk-product-cart-price">
                                <h5 class="h6">Price:</h5>
                                <div class="nk-gap-1"></div>
            
                                <strong>{{ p.product.price }} TND</strong>
                            </td>
                            <td class="nk-product-cart-quantity">
                                <h5 class="h6">Quantity:</h5>
                                <div class="nk-gap-1">
                                    {{p.qty }}
                                </div>
            
            
                            </td>
                            <td class="nk-product-cart-total">
                                <h5 class="h6">Total:</h5>
                                <div class="nk-gap-1"></div>
            
                                <strong>{{ p.qty * p.product.price }} TND</strong>
                            </td>
                            <td>
            
                                <a href="{{ path('add_cart', { 'id' :p.product.id }) }}" class="btn btn-success float-right">
                                    <i class="fas fa-shopping-cart mr-1"></i>
                                </a>
            
                            </td>
            
                            <td>
                                <a href="{{ path('remove_cart', {'id': p.product.id}) }}" class="btn btn-sm btn-danger">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
            
            
            
                        </tbody>
                    </table>
                    <!-- END: Products in Cart -->
            
                </div>
                <div class="col-md-6">
                    <!-- START: Cart Totals -->
                    <h3 class="nk-title h4">Cart Total</h3>
                    <table class="nk-table nk-table-sm">
                        <tbody>
                        <tr class="nk-store-cart-totals-subtotal">
                            <td>
                                Subtotal
                            </td>
                            <td>
                                {{ total }} TND
                            </td>
                        </tr>
                        {# <tr class="nk-store-cart-totals-shipping">
                            <td>
                                Shipping
                            </td>
                            <td>
                                Free Shipping
                            </td>
                        </tr> #}
                        <tr class="nk-store-cart-totals-total">
                            <td>
                                Total
                            </td>
                            <td>
                                {{ total }} TND
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <!-- END: Cart Totals -->
                </div>
            </div>
    </div>
</section>

<div class="nk-gap-2"></div>
<a class="nk-btn nk-btn-rounded nk-btn-color-main-1 float-right" href="{{ path('Ajoutcommande') }}">Proceed to Checkout</a>
<div class="clearfix"></div>
</div>
{% endblock %}