{% extends 'base-admin.html.twig' %}

{% block body %}

{{ form_start(form,{attr:{novalidate:'novalide'}}) }} 
   
    {{ form_row(form.titre) }}
    {{ form_row(form.message) }}
    {{ form_row(form.idUser) }}
    {{ form_row(form.idcategoryreclamation) }}
    {{ form_row(form.etat) }}

 
 


    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
{% endblock %}
