{% extends 'base-front.html.twig' %}

{% block body %}

{{ form_start(form,{attr:{novalidate:'novalide'}}) }} 
   
    {{ form_row(form.titre) }}
    <div class="form-group">

      {{ form_row(form.message,{ 'attr' : { 'class': 'form-control' } }) }}

    </div>
    {{ form_row(form.idUser) }}
    {{ form_row(form.idcategoryreclamation) }}

 
 


    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
{% endblock %}
