{#
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
#}

<main id="main" class="main">
    <section class="section">
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        {{ form_start(form,{'attr': {'novalidate': 'novalidate'}}) }}

                        <table >
                            <tr>
                                <td>
                                    {{ form_label(form.idequipe,"idEquipe : ") }}
                                </td><td>
                                    {{ form_widget(form.idequipe) }}
                                </td>
                                <td>{{ form_errors(form.idequipe) }}</td>
                            </tr>
                            <tr>
                                <td>
                                    {{ form_label(form.idtournois ,"idTournois : ") }}
                                </td><td>
                                    {{ form_widget(form.idtournois) }}
                                </td>
                                <td>{{ form_errors(form.idtournois) }}</td>
                            </tr>

                        </table>
                         <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
                        {{ form_end(form) }}
                    </div>
                </div>

            </div>
        </div>
    </section>

</main><!-- End #main -->