{{ form_start(form,{attr:{novalidate:'novalide'}}) }}
    {{ form_row(form.score) }}
    {{ form_row(form.commentaire) }}
    {{ form_row(form.idutulisateur) }}
    {{ form_row(form.idjeux) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
