{% extends 'base-front.html.twig' %}

{% block title %}Avis{% endblock %}

{% block body %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
    <h1>Avis</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Score</th>
                <td>{{ avi.score }}</td>
            </tr>
            <tr>
                <th>Commentaire</th>
                <td>{{ avi.commentaire }}</td>
            </tr>
            <tr>
                <th>Idutulisateur</th>
                <td>{{ avi.idutulisateur.nom }}</td>
            </tr>
            <tr>
                <th>Idjeux</th>
                <td>{{ avi.idjeux.nomjeux }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_avis_index_front') }}">back to list</a>

    <a href="{{ path('app_avis_edit_front', {'id': avi.id}) }}">edit</a>

    {{ include('avis/_delete_form-front.html.twig') }}
{% endblock %}
