
 {% extends 'base-front.html.twig' %}


{% block body %}

<!-- Page Features -->


{% for message in app.flashes("warning") %}
		<div class="alert alert-success">
		{{ message }}
		</div>
{% endfor %}

<div class="row text-center blog-section spad mx-auto">

{% set i = -1 %}
{% for tournoi in tournois %}
{% set i = i +1 %}
        <div class="col-lg-3 col-md-6 mb-4 mt-5">
            <div class="card h-100 bg-white text-black border-danger mt-5">
                <img class="card-img-top" src="{{ asset('uploads/' ~ tournoi.idjeux.imagejeux) }}" alt="">
				
                <div class="card-body">
                 <small class="text-muted">Date Debut: {{ tournoi.dateDebut ? tournoi.dateDebut|date('Y-m-d') : '' }} - Date Fin: {{ tournoi.dateFin ? tournoi.dateFin|date('Y-m-d') : '' }}</small>

                    <h4 class="card-title font-weight-bold mb-2">
                        {{ tournoi.titre }}
                    </h4>
                    <ul class="list-group list-group-flush">
                        <p class="list-group-item text-danger">Status: {{ tournoi.status }}</p>
                        <p class="list-group-item">Max Participants:{{ tournoi.nbrparticipants }} | Type: {{ tournoi.type }}</p>
                  <p class="card-text ">{{ tournoi.descriptiontournois }}</p>  
                  <p class="card-text ">Participants Actuelle:{{ counter[i] }}</p>                
              {% if tournoi.status == "Finished" %}
                <p class="card-text ">The Winner : {{ tournoi.winner }}</p>  

              {% endif %}
                    </ul>
                </div>
                <div class="card-footer">

					{% set foo = 0 %}
                   {% if u.idequipe in tournoi.idequipe %}
					{% set foo = 1 %}
					{% endif %}
					{% if foo == 0 %}
        		<form class="btn btn-danger" method="post" action="{{ path('add_participation_tournois', {'id': tournoi.idtournois}) }}" onsubmit="return confirm('Are you sure you want to Participate?');">
			    <button class="btn">Participer</button>
				</form>
				{% else %}
			    <button class="btn btn-primary">Already In</button>
			   	{% endif %}
			   
			    </div>
            </div>
        </div>

	
 {% endfor %}

</div>

{% endblock %}

