{% extends 'base-admin.html.twig' %}

{% block title %}Tournois index{% endblock %}

{% block body %}
    <h1>Tournois index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>DateDebut</th>
                <th>DateFin</th>
                <th>Type</th>
                <th>Nbrparticipants</th>
               <th>NomJeux</th>
                <th>Winner</th>
                <th>Status</th>
                <th>Equipes</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tournoi in tournois %}
            <tr>
                <td>{{ tournoi.titre }}</td>
                <td>{{ tournoi.dateDebut ? tournoi.dateDebut|date('Y-m-d') : '' }}</td>
                <td>{{ tournoi.dateFin ? tournoi.dateFin|date('Y-m-d') : '' }}</td>
                <td>{{ tournoi.type }}</td>
                <td>{{ tournoi.nbrparticipants }}</td>
                  <td>{{ tournoi.idjeux.nomjeux }}</td>
                <td>{{ tournoi.winner }}</td>
                <td>{{ tournoi.status }}</td>
                     <td>
                     {% for tournoi in tournoi.idequipe %}
                     {{ tournoi.nom }} <br>
                     {% endfor %}
                    </td>
                <td>
                    <a href="{{ path('app_tournois_show', {'idtournois': tournoi.idtournois}) }}">show</a>
                    <a href="{{ path('app_tournois_edit', {'idtournois': tournoi.idtournois}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_tournois_new') }}">Create new</a>
{% endblock %}
