{# {% extends 'base.html.twig' %}

{% block title %}Jeux index{% endblock %}

{% block body %}
    <h1>Jeux index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Idjeux</th>
                <th>Nomjeux</th>
                <th>Imagejeux</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for jeux in jeuxes %}
            <tr>
                <td>{{ jeux.idjeux }}</td>
                <td>{{ jeux.nomjeux }}</td>
                <td>{{ jeux.imagejeux }}</td>
                <td>
                    <a href="{{ path('app_jeux_show', {'idjeux': jeux.idjeux}) }}">show</a>
                    <a href="{{ path('app_jeux_edit', {'idjeux': jeux.idjeux}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_jeux_new') }}">Create new</a>
{% endblock %}
#}

 {% extends 'base-admin.html.twig' %}
{% block body %}
{#<div class="pcoded-search-box" style="position: relative;color: white; ">
  
  
        <input  type="text" id="searchEnt" class="form-control" placeholder="Search" oninput="myFunction()">
    


    </div>
      {#  <button onclick="myFunction()">Click me</button>#} 
  {#   <p id="demo"></p>

<script>
function myFunction() {
    let searchString = document.getElementById('searchEnt').value; // recuperation de l'input de la recherche
        window.location = ('http://127.0.0.1:8000/jeux/orderRe/'+searchString

);
}
</script>#} 




{#search2#}
  {% block search %}
        <form>
            <div class="input-group input-group-dynamic mb-8">
                <span class="input-group-text"><i class="fas fa-search" aria-hidden="true"></i></span>

                <input class="form-control" id="search" placeholder="Search" type="text" >

            </div>
        </form>
    {% endblock %}
{#search 2#}        

<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="table-wrap">



    <table id="t" class="table table-bordered border-primary">
         <thead class="thead-dark">
            <tr>
                <th>Nomjeux</th>
                <th>Imagejeux</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody id="all">
        {% for jeux in jeuxes %}
            <tr>
                <td>{{ jeux.nomjeux }}</td>
                <td><img src="{{ asset('uploads/' ~ jeux.imagejeux) }}"
                alt="" width="100" height="100">
                </td>
                <td>
                    <a class="btn btn-primary" href="{{ path('app_jeux_show', {'idjeux': jeux.idjeux}) }}">show</a>
                    <a class="btn btn-success" href="{{ path('app_jeux_edit', {'idjeux': jeux.idjeux}) }}">edit</a>
                   <form method="post" action="{{ path('app_jeux_delete', {'idjeux': jeux.idjeux}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ jeux.idjeux) }}">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
         <tbody id="search"></tbody>    

    </table>

    <a href="{{ path('app_jeux_new') }}">Create new</a>

					</div>
				</div>
			</div>
		</div>
	</section>

     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>
    <script>
        $( document ).ready(function() {
            $("#search").keyup(function(e){
                /* La variable value va prendre la valeur insérer dans le champ de texte afin d’effectuer la recherche */
                var value = $(this).val();
                /* Ajax est lancé lors du remplissage du champ texte dont l’id est « search » pour faire la recherche */
                $.ajax({
                    /* l’url est une chaine de caractères contenant l’adresse où la requête est envoyée */
                    url : "{{ path('searchJeu') }}",
                    /* La méthode utilisée pour transférer les données est GET */
                    type : 'GET',
                    /*Ici search value va prendre la chaine entrée par un utilisateur dans la zone de recherche et sera placée après l’url */
                    data: {
                        'searchValue' : value
                    },
                    /*Cette fonction permet de vider le contenu du tableau pour recevoir le nouveau contenu*/
                    success : function(retour){
                        if(retour){
                            $('#t tbody#search').empty();
                           // window.alert("sometext");

                            $.each(JSON.parse(retour), function(o, obj) {

                                $('#t tbody#all').hide();


                                $('#t tbody#search').append("<tr>");
                               $('#t tbody#search').append(" <td>"+obj.idjeux+"</td>"); 
                               $('#t tbody#search').append(" <td>"+obj.nomjeux+"</td>"); 
                                 var p="/uploads/"+obj.imagejeux;
                                var img = "<img src="+p+" width='100' height='100'/>";
                                $('#t tbody#search').append(" <td>"+img+"</td>");
                                $('#t tbody#search').append(" <td><button class='btn btn-outline-primary' type='submit' href="+obj.ididjeux+">show</button> <button class='btn btn-outline-primary' type='submit'  href="+obj.idjeux+">edit </button></td>");

                             //   $('#t tbody#search').append("<td> <button class='btn btn-outline-primary' type='submit' onclick='window.location.href =" +obj.idjeux+"'; role='button'> Show </button>");
                                //$('#t tbody#search').append(" <button class='btn btn-outline-primary' type='submit' onclick='window.location.href =" +obj.idjeux+"'; role='button'> Edit </button></td>");



                                $('#t tbody#search').append("</tr>");
                                // <td>'+obj.description+'</td><td>'+obj.dateajout+'  </td><td></td><td><a href="article/'+obj.id+'">show</a> </br><a href="article/'+obj.id+'/edit">edit</a></td></tr>');
                            });
                        }
                        //$('#t tbody#search').append('<tr><td> '+obj.lieu+'  </td><td>    '+obj.nbPlace+'  </td><td>'+obj.descriptions+' </td><td>'+obj.dateEvent+' </td><td>'+obj.getcategory+' </td><td>'+obj.Description+'</td><td><td><a href="event/'+obj.idEvent+'/edit">Modifier</a></td></tr>');
                        else
                        {

                            $('#t tbody#all').show();
                            $('#t tbody#search').empty();
                            $('#t tbody#search').fadeIn('fast');
                        }
                    },
                });
                return false;
            });





        });
    </script>
{% endblock %}
