{% extends 'base-admin.html.twig' %} {% block title %}Orders{% endblock %} {%
block stylesheets %}

<!-- Custom styles for this template-->
<link href="{{ asset('admin/css/sb-admin-2.css') }}" rel="stylesheet" />
<link rel="stylesheet" href="{{ asset('front/css/style.css') }}" />

{% endblock %} {% block body %}
<div class="table-wrapper">
  <h1>Orders</h1>

  {{ knp_pagination_render(orders) }}
  <table class="table">
    <thead>
      <tr>
        <th>Num</th>
        <th>Product</th>
        <th>Client</th>
        <th>Productqty</th>
        <th>Createdat</th>
        <th>actions</th>
      </tr>
    </thead>
    <tbody>
      {% for order in orders %}
      <tr>
        <td>{{ order.num }}</td>
        <td>{{ order.idproduct.name }}</td>
        <td>{{ order.iduser.name }}</td>
        <td>{{ order.productqty }}</td>
        <td>{{ order.createdat ? order.createdat|date('Y-m-d') : '' }}</td>
        <td>
          <a href="{{ path('app_orders_show', { id: order.id }) }}">show</a>
          <a href="{{ path('print_order',{'id':order.id}) }}">print</a>
          {# <a href="{{ path('app_orders_edit', { id: order.id }) }}">edit</a> #}
        </td>
      </tr>
      {% else %}
      <tr>
        <td colspan="6">no orders found</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {{ knp_pagination_render(orders) }}

  {# <a href="{{ path('app_orders_new') }}">Create new</a> #}
  <a href="{{ path('print_orders') }}">print</a>
</div>
{% endblock %}
