{#
{% extends 'base.html.twig' %}

{% block title %}Matchs index{% endblock %}

{% block body %}
    <h1>Matchs index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Idmatch</th>
                <th>Datematch</th>
                <th>Reference</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for match in matchs %}
            <tr>
                <td>{{ match.idmatch }}</td>
                <td>{{ match.datematch ? match.datematch|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ match.reference }}</td>
                <td>
                    <a href="{{ path('app_matchs_show', {'idmatch': match.idmatch}) }}">show</a>
                    <a href="{{ path('app_matchs_edit', {'idmatch': match.idmatch}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_matchs_new') }}">Create new</a>
{% endblock %}
#}
 {% extends 'base-admin.html.twig' %}
{% block body %}
    <h1>Matchs index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Idmatch</th>
                 <th>TournamentTitre</th>
                <th>Datematch</th>
                <th>Reference</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for match in matchs %}
            <tr>
                <td>{{ match.idmatch }}</td>
                <td>{{ match.IDTournois.titre }}</td>
                <td>{{ match.datematch ? match.datematch|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ match.reference }}</td>
                <td>
                    <a href="{{ path('app_matchs_show', {'idmatch': match.idmatch}) }}">show</a>
                    <a href="{{ path('app_matchs_edit', {'idmatch': match.idmatch}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_matchs_new') }}">Create new</a>
{% endblock %}
